@import url('https://fonts.googleapis.com/css?family=Poppins');
@import 'sidebar';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 100px;
    transition: all 0.5s ease;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: green;
    margin: 12px;
}

.sidebar_nav.active ~ .home_content{
    width: calc(100% - 240px);
    left: 270px;
}